header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 1rem;
   font-weight: 800;

   background-color: $bg-color;
}

.header-title {
   color: $light-accent;
   padding: 0.5em;

}