header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 1rem;
   font-weight: 800;

   background-color: $bg-color;
   box-shadow: 20px 30px 38px -34px rgba(0,0,0,0.3);

}

.header-title {
   color: $light-accent;
   padding: 0.5em;

}