

// variables 
$bg-color: rgb(37, 44, 70);
$light-accent: #f2f2f2;
$blue-accent: #aad5db;

//imports
@import "./App.scss";
@import "./components/header/header.scss";
@import "./components/nav/nav.scss";


body {
    font-family: 'Manrope', sans-serif; 
    padding: 0;
    margin: 0;
    background-color: $bg-color;
    /* 300, 500, 700 */
}